<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<div>В поле указывается исполняемый код, который будет выполнен методом «Выполнить()».</div>
<div>Вызываемые функции должны быть Экспортными быть расположены либо в общих модулях, либо в общих модулях расширений.</div>
<div>При написании кода доступны следующие переменные:</div>
<div>
<ul><li><b><span style="font-weight: normal;">«</span>Организация</b>» - ссылка на организацию документа;</li>
<li><b><span style="font-weight: normal;">«</span>Контрагент</b>» - ссылка на контрагента документа;</li>
<li><b><span style="font-weight: normal;">«</span>ДоговорКонтрагента</b>» - ссылка на договор документа;</li>
<li><b><span style="font-weight: normal;">«</span>СуммаДоходаРуб</b>» - сумма проводки в руб.;</li>
<li><b><span style="font-weight: normal;">«</span>СуммаДоходаВал</b>» -  сумма проводки в валюте;</li></ul></div>
<div>Кроме указанных переменных, можно использовать вложенные, ранее настроенные функции, выполнение вложенных функций выполняется по общему алгоритму.</div>
<div>Если, например, необходимо вывести значение реквизита параметра, возвращаемого другой функцией, следует указать идентификатор функции и через пробел или с новой строки, указать путь к требуемому реквизиту.</div>
<div><i>Например:</i></div>
<div> «<i>НаименованиеПорта .Страна.КодАльфа2</i>» - функция вернет значение «Код Альфа 2», указанный в реквизите «Страна», для значения возвращаемого функцией «НаименованиеПорта».</div>
<div>где:</div>
<div> - «<i>НаименованиеПорта</i>»<i> - </i>идентификатор функции, со способом получения значения «Мониторинговый параметр» и типом значения «Порты»;</div>
<div><i> - </i>«<i>.Страна.КодАльфа2</i>»<i> - </i>путь к реквизиту «Код альфа 2» справочника «Страны», указанного для элемента справочника «Порты»;</div>
<div><b>ВАЖНО! Идентификатор функции и путь к реквизиту должны быть разделены пробелом.</b></div>
<div><b><br></b></div>
<div>Кроме указанного способа, значение из примера можно получить, установив способ получения значения «Мониторинговый параметра», выбрать нужный параметр и, в поле «Путь к реквизиту», выбрать интересующий реквизит.</div>


</body></html>